.btn {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    cursor: pointer;
}

.btn-submit {
    align-self: flex-end;
    text-transform: capitalize;
    padding: 9px 30px;
    font-size: 0.9rem;

    @include desktop {
        padding: 9px 75px;
        min-width: 200px;
    }
}