@import "_variables";
@import "_mixins";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

img {
    max-width: 100%;
}

.client-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    max-width: 1280px;
    margin: 0 auto;
    

    &__logo {
        border: 1px solid blue;
        width: 100px;
        height: 36px;
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 2rem;

        &__link {
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            padding: 9px 10px;
            border-radius: 4px;
        }

        &__link:nth-child(1),
        &__link:nth-child(2) {
            @include mobile {
                display: none;
            }

            @include desktop {
                display: flex;
            }
        }
        &__link:nth-child(3) {
            background-color: black;
            color: #fff;
            text-transform: uppercase;

        }
    }
}

.jumbotron {
    border: 2px solid green;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;

    &__hero {
        max-width: 1280px;
        
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
        width: 68%;
        padding: 7px 12px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
    }

}

.main-content {
    border: 1px solid red;
    padding: 1.8rem 2.2rem;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;

    &__gallery {
        display: flex;
        flex-direction: column;
        border: 1px solid blue;

        &__title {
            text-align: start;
            font-size: 24px;
            font-weight: normal;
            width: 70%;
            margin-bottom: 1.8rem;
            border: 1px solid pink;
        }

        &__desc {
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            text-align: left;
            margin-bottom: 1.8rem;
        }

        &__showcase {
            display: grid;
            border: 3px solid orange;
            grid-template-areas: 
                "pink blackish"
                "leather leather"
                "leather leather"
                "black black"
                "black black"
                "redleather red"
            ;
        }
    }
   
}

.clients {
    border: 2px solid green;
    padding: 1.8rem 2.2rem;
    max-width: 1280px;
    margin: 0 auto;

    &__title {
        font-size: 24px;
        text-align: center;
        font-weight: normal;
        line-height: 32px;
        margin-bottom: 1.8rem;
    }

    &__wrapper {
        border: 1px solid pink;
        display: flex;
        flex-direction: column;
    }
}

.client__testimony {
    background-color: #000;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;

    &__desc {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-top: .6rem;
        margin-bottom: .8rem;
    }

    &__container {
        border: 1px solid yellow;
        display: grid;
        align-items: center;
        grid-template-areas: 
            "photo name"
            "photo place"
        ;

        &__person-photo {
            width: 50px;
            height: 50px;
            border: 1px solid red;
            margin-right: 1.8rem;
            grid-area: photo;
        }

        &__person-name {
            color: #fff;
            font-size: 16px;
            text-align: left;
            text-transform: capitalize;
            grid-area: name;
            align-self: flex-end;
            margin-left: -4rem;
        }

        &__person-place {
            color: #999;
            font-size: 11px;
            text-align: left;
            text-transform: uppercase;
            grid-area: place;
            align-self: center;
            margin-left: -4rem;
        }
    }
}

.footer {
    border: 1px solid blue;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.8rem;
    gap: 1.2rem;
    margin: 0 auto;

    &__logo {
        width: 75px;
        height: 21px;
    }

    &__copyright {
        font-size: 12px;
        line-height: 18px;
    }

    &__social-media {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    &__company-name {
        font-size: 12px;
        line-height: 18px;
        margin-top: 1rem;
    }
}

.pink-boot {
    grid-area: pink;
}

.blackish-boot {
    grid-area: blackish;
}

.leather-boot {
    grid-area: leather;
}

.black-boot {
    grid-area: black;
}

.red-leather-boot {
    grid-area: redleather;
}

.red-boot {
    grid-area: red;
}

