@import "_variables";
@import "_mixins";
@import "_our_products";
@import "_contact_us";
@import "_buttons";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.client-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    max-width: $max-width;
    margin: 0 auto;


    @include desktop {
        padding: 2rem 1.5rem;
    }
    

    &__logo {
        // border: 1px solid blue;
        width: 100px;
        height: 36px;
        display: flex;
        align-items: center;

        @include desktop {
            width: 140px;
            height: 40px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 2rem;

        &__link {
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;

            @include desktop {
                font-size: 14px;
                color: $secondary-color;
                text-transform: uppercase;
            }
        }

        &__link:nth-child(1),
        &__link:nth-child(2),
        &__link:nth-child(3),
        &__link:nth-child(4) {
            @include mobile {
                display: none;
            }

            @include desktop {
                display: flex;
                padding-bottom: 6px;
                transition: border .5s;
                &:hover {
                    border-bottom: 2px solid $secondary-color;
                    
                }
                
            }


        }
        &__link:nth-child(5) {
            background-color: $secondary-color;
            color: $primary-color;
            text-transform: uppercase;
            padding: 9px 10px;
            border-radius: 4px;
            border: 1px solid $secondary-color;

            @include desktop {
                padding: .9rem;
                transition: .5s ease;

                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                    
                }
            }
        }
    }
}

.jumbotron {
    // border: 2px solid green;
    position: relative;
    max-width: $max-width;
    margin: 0 auto;

    @include desktop {
        margin-bottom: 2.5rem;
        padding: 0 1.5rem;
    }

    &__hero {
        max-width: $max-width;
        
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        color: $primary-color;
        width: 68%;
        padding: 7px 12px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        

        @include desktop {
            font-size: 72px;
            font-weight: 300;
            padding: 1.5rem 2rem;
            min-width: 70%;
        }
    }

}

.main-content {
    // border: 1px solid red;
    padding: 1.8rem 1.5rem;
    max-width: $max-width;
    /*display: flex;*/
    margin: 0 auto;

    @include desktop {
        padding: 1.8rem 1.5rem;
    }

    &__gallery {
        display: grid;
        // border: 1px solid blue;

        @include desktop {
            grid-template-areas: 
                "title desc desc desc"
                "showcase showcase showcase showcase"
            ;
        }

        &__title {
            text-align: start;
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 1.8rem;
            // border: 1px solid pink;

            @include desktop {
                grid-area: title;
                font-size: 30px;
                width: 90%;
            }
        }

        &__desc {
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;
            text-align: left;
            margin-bottom: 1.8rem;

            @include desktop {
                grid-area: desc;
            }
        }

        &__showcase {
            display: grid;
            // border: 3px solid orange;
            grid-template-areas: 
                "pink blackish"
                "leather leather"
                "leather leather"
                "black black"
                "black black"
                "redleather red"
            ;

            @include desktop {
                grid-area: showcase;
                grid-template-areas:
                    "pink blackish black black"
                    "leather leather black black"
                    "leather leather redleather red"
                ;
            }
        }
    }
   
}

.clients {
    // border: 2px solid green;
    padding: 1.8rem 2.2rem;
    max-width: $max-width;
    margin: 0 auto;

    @include desktop {
        padding: 1.8rem 1.5rem;
    }

    &__title {
        font-size: 24px;
        text-align: center;
        font-weight: normal;
        line-height: 32px;
        margin-bottom: 1.8rem;

        @include desktop {
            font-size: 30px;
            margin: 3rem 0;
        }
    }

    &__wrapper {
        // border: 1px solid pink;
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            gap: 2rem;
        }
    }
}

.client__testimony {
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    

    &__desc {
        color: $primary-color;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-top: .6rem;
        margin-bottom: .8rem;

        @include desktop {
            margin-bottom: 2rem;
        }
    }

    &__container {
        // border: 1px solid yellow;
        display: grid;
        align-items: center;
        grid-template-areas: 
            "photo name"
            "photo place"
        ;
        
        @include desktop {
            width: 60%;
        }


        &__person-photo {
            width: 50px;
            height: 50px;
            // border: 1px solid red;
            margin-right: 1.8rem;
            grid-area: photo;

        }

        &__person-name {
            color: $primary-color;
            font-size: 16px;
            text-align: left;
            text-transform: capitalize;
            grid-area: name;
            align-self: flex-end;
            margin-left: -4rem;


        }

        &__person-place {
            color: #999;
            font-size: 11px;
            text-align: left;
            text-transform: uppercase;
            grid-area: place;
            align-self: center;
            margin-left: -4rem;
        }
    }
}

.footer {
    // border: 1px solid blue;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.8rem;
    gap: 1.2rem;
    margin: 0 auto;

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        margin-bottom: 2rem;
        padding: 1rem 1.5rem;
    }

    &__logo {
        width: 75px;
        height: 21px;
    }

    &__copyright {
        font-size: 12px;
        line-height: 18px;
    }

    &__social-media {
        display: flex;
        list-style: none;
        gap: 1rem;

        @include desktop {
            align-items: center;
        }
    }

    &__social-link img {
        @include desktop {
            max-width: 20px;
        }

    }

    // &__social-link:nth-child(1) img {
    //     @include desktop {
    //         height:23px;
    //         width: 20px;
    //     }
    // }

    &__company-name {
        font-size: 12px;
        line-height: 18px;
        margin-top: 1rem;
        
        @include desktop {
            margin-top: 0;
            
        }
    }

    &__company-name img {
        width: 94px;
        height: 14px;
    }
}

.pink-boot {
    grid-area: pink;
}

.blackish-boot {
    grid-area: blackish;
}

.leather-boot {
    grid-area: leather;
}

.black-boot {
    grid-area: black;
}

.red-leather-boot {
    grid-area: redleather;
}

.red-boot {
    grid-area: red;
}

